@media(max-width: 600px) and (min-width:300px){
    *{
        margin: 0;
        padding: 0;
    }
    .main{
        flex-wrap: wrap;
        
    }
    .frontimg{
        width: 100%;
    }
    nav{
        width: 500px;
    }
   
   
}